{% extends "base.html" %}
{% block title_1 %}Dashboard{% endblock %}
{% block body %}
       <div class="row">          
            <div class="col-sm-4">
               <h3>Selected tweeters</h3>
                <div class="list-group">
                {% for user in users %}
                    <div class="list-group-item">
                        <table >
                        <tr><td><a href="/user/{{user.screen_name}}">
                            <img style="min-height: 48px;" src="{{user.profile_image_url}}" 
                            onerror="if (this.src != 'http://a0.twimg.com/sticky/default_profile_images/default_profile_6_normal.png') this.src = 'http://a0.twimg.com/sticky/default_profile_images/default_profile_6_normal.png'" />
                         </a></td>
                        <td><a href="/user/{{user.screen_name}}"><h4 class="list-group-item-heading">{{user.name}}</h4>@{{user.screen_name}}</a> </td></tr>
                        </table>
                    </div>
                {% endfor %}
                </div>
            </div>
            
            <div class="col-sm-2">
            &nbsp;
            </div>

            <div class="col-sm-6">
                <h4>Predict whether a Twitter user will stop tweeting 3 months from now:</h4>
                <div>
                    <form action="/user" method="GET">
                    <div>Twitter screen name</div>
                    <input name="screen_name" id="screen_name_box" />
                    </form>
                </div>
                <div style="margin-top:60px;">
                    <img src="../static/map_tweets_all.png" width="400px" />
                </div>
            </div>
        </div> <!-- end of row -->
{% endblock %}