{% extends base.html %}
{% block title_1 %}User View{% endblock %}
{% block body %}
 
    {% if error_txt %}
    <div style="font-size: x-large; color:red;">
    {{error_txt}}
    </div>
    {% else %}
   
        

    
    <div>
       <div class="col-sm-6"> 
        <table>
        <tr><td><a href="https://twitter.com/{{screen_name}}"><img style="min-height: 48px;" src="{{user.profile_image_url}}" /></a></td>
        <td><a href="https://twitter.com/{{screen_name}}"><h2 class="list-group-item-heading">{{twitter_name}}</h2>@{{screen_name}}</a> </td></tr>
        </table>
 
    <div class="list-group">
    {% for tweet in tweet_list %}
    <div class="list-group-item">
    <div style="font-size:large;">{{tweet.text|twitterate|safe|urlize}}</div>
    <h6>{{tweet.created_at}}</h6>
    </div>
    {% endfor %}
     </div>
     </div>



    <div class="col-sm-6">
        <div style="font-size:x-large;">
        {{twitter_name}} is 
        {% if not will_churn %} <b>not likely</b> {% else %}  <b>likely</b> {% endif %}  to stop tweeting in 3 mos.
        </div>
        <div style="font-size:large;">
        {% if churn_prob is defined %}
        (Estimated {{churn_prob}}% likely to become inactive)
        {% endif %}
        </div>

        <div >
            <table>
            <th></th>
            <tr><td>{{user.user_age_str}} since user creation</td><td> </td></tr>
            <tr><td>{{user.followers_count}} followers</td><td> </td></tr>
            <tr><td>Following {{user.friends_count}} users</td><td> </td></tr>
            </table>
        </div>
    </div>
    </div>
    </div>
    {% endif %}
{% endblock %}