<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" href="../../favicon.ico">

   <title>User view - Canary churn alert</title>

   <!-- Bootstrap core CSS -->
   <link href="/static/css/bootstrap.min.css" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="/static/css/starter-template.css" rel="stylesheet">

   <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
   <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
   <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

   <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
 </head>

 <body>

   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/">canary</a>
       </div>
       <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li class="active"><a href="#">Home</a></li>
           <li><a href="https://docs.google.com/presentation/d/1JWIvDIAjT7s-fxDtP6VgJZbUaPODxSC9FB4LO6wDJ9E/present">Slides</a></li>
           <li><a href="#about">About</a></li>
           <li><a href="#contact">Contact</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </div>

<br><br>


   <div class="container">
        <div class="starter-template">
            <h1>canary</h1>
            <p class="lead">The churn early warning system for Twitter</p>

        </div>
 
    {% if error_txt %}
    <div style="font-size: x-large; color:red;">
    {{error_txt}}
    </div>
    {% else %}
   
        
        <table >
        <tr><td><a href="/user/{{twitter_name}}"><img style="min-height: 48px;" src="{{user.profile_image_url}}" /></a></td>
        <td><a href="/user/{{twitter_name}}"><h2 class="list-group-item-heading">{{twitter_name}}</h2>@{{screen_name}}</a> </td></tr>
        </table>
    
   
      <!--<div style="max-width: 350px;">
         <span style="float: left; "><img style=" max-height: 200px; max-width:160px;" src="{{user.profile_image_url}}" width="96" /></span>
         <span style="float: right;"><h2>{{twitter_name}}</h2>
         <h3>@{{screen_name}}</h3></span>
     </div>-->
    
    <div>
     <div style="float: left; max-width: 600px;">
     <h2>@{{screen_name}}'s Twitter feed</h2>
     <table>
     <th></th>
    {% for tweet in tweet_list %}

    <tr><td>{{tweet.text}}</td><td>{{tweet.created_at}}</td></tr>
    
    {% endfor %}
     
     </table>
     </div>


    <div style="float: right;">
        <div style="font-size:x-large;">
        {{twitter_name}} is 
        {% if not will_churn %} <b>not</b> likely {% else %}  <b>likely</b> {% endif %}  to leave the service in 3 mos.
        </div>

        <div >
            <table>
            <th></th>
            <tr><td>{{user.age}} since user creation</td><td> </td></tr>
            <tr><td>{{user.followers_count}} followers</td><td> </td></tr>
            <tr><td>Following {{user.friends_count}} users</td><td> </td></tr>
            </table>
        </div>
    </div>
    </div>
    </div>
    {% endif %}
   <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

   <script src="../static/js/bootstrap.min.js"></script>


   </div><!-- /.container -->


   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="../static/js/bootstrap.min.js"></script>
 </body>
</html>
